@model BookVM

@*enctype="multipart/form-data" for images*@
<form method="post" enctype="multipart/form-data">
<input asp-for="Book.Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                @(Model.Book.Id!=0?"Edit Book" : "Create Book")
            </h2>
        </div>
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-floating mb-3">
            <input asp-for="Book.Title" class="form-control"/>
            <label asp-for="Book.Title"></label>
            <span asp-validation-for="Book.Title" class="text-danger"></span>
        </div>
        <div class="form-floating py-2 mb-3">
            <input asp-for="Book.Author" class="form-control"/>
            <label asp-for="Book.Author"></label>
            <span asp-validation-for="Book.Author" class="text-danger"></span>
        </div>
        <div class="form-floating py-2 mb-3">
            <input asp-for="Book.ISBN" class="form-control"/>
            <label asp-for="Book.ISBN"></label>
            <span asp-validation-for="Book.ISBN" class="text-danger"></span>
        </div>
        <div class="py-2 mb-3">
            <textarea asp-for="Book.Description" class="form-control"></textarea>
        </div>
        <div class="form-floating py-2 mb-3">
            <input asp-for="Book.Price" class="form-control"/>
            <label asp-for="Book.Price"></label>
            <span asp-validation-for="Book.Price" class="text-danger"></span>
        </div>
        <div class="form-floating py-2 mb-3">
            <input asp-for="Book.ExtraPrice" class="form-control"/>
            <label asp-for="Book.ExtraPrice"></label>
            <span asp-validation-for="Book.ExtraPrice" class="text-danger"></span>
        </div>
        <div class="form-floating py-2 mb-3">
            <input type="file" name="image" class="form-control"/>
            <label asp-for="Book.ImageUrl"></label>
        </div>
        <div class="form-floating py-2 mb-3">
            <select asp-for="Book.CategoryId" asp-items="@Model.Categories" class="form-control">
                <option disabled selected>Select Category</option>
            </select>
            <label asp-for="Book.CategoryId"></label>
            <span asp-validation-for="Book.CategoryId" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-2 col-md-3">
                @if(Model.Book.Id!=0){
                    <button type="submit" class="btn btn-primary form-control">
                        Update
                    </button>
                }
                else 
                {
                    <button type="submit" class="btn btn-primary form-control">
                        Create
                    </button>
                }

            </div>
            <div class="col-2 col-md-3">
                <a asp-asp-area="Admin" asp-controller="Book" asp-action="Index" class="btn btn-secondary form-control">
                    Back To List
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
        <script>
            tinymce.init({
                selector: 'textarea',
                plugins: 'anchor autolink charmap codesample lists searchreplace table visualblocks wordcount',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | align lineheight | numlist bullist indent outdent | removeformat',
            });
        </script>
    }
}
