<div>
    @if(TempData != null){
        <p>
            <a class="text-success">@TempData["Success"]</a>
        </p>
        <p>
            <a class="text-danger">@TempData["Error"]</a>
        </p>
    }
</div>