@model List<Category>

<h1> Category Index</h1>
@foreach(var m in Model){
    <p>@m.Name</p>
}

<table class="table table-bordered table-striped"> 
    <tr> 
        <th>
            Category name aASDAS ASDA aa now aa aa  sadada
        </th>
    </tr>
</table>